name: Dispatch

on:
  workflow_dispatch:

jobs:
  deploy_manifest:
    if: github.ref == 'ref/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      uses: actions/checkout@v4

      - name: Get SHA
        run: |
          echo "SHA=sha-${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Update values yaml
        uses: mikefarah/yq@master
        with:
          cmd: |
            yq -i '.backend.backend.tag = env(SHA)' values.yaml

      - name: Commit updated values yaml
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git diff --quiet && echo "No changes to commit" && exit 0
          git add values.yaml
          git commit -m "Update values yaml with ${SHA}"
          git push -f

