name: Go

on:
  push:
    branches:
      - "main"
    paths-ignore:
      - 'values.yaml'
  pull_request:
    branches: 
      - "main"
    paths-ignore:
      - 'values.yaml'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true

      - name: Test
        run: go test -v ./... -coverprofile=coverage.out

      - name: Upload coverage output
        uses: actions/upload-artifact@v4
        with:
          name: code-coverage-report
          path: coverage.out

  coverage:
    needs: build
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download coverage output
        uses: actions/download-artifact@v4
        with:
          name: code-coverage-report

      - name: Generate code coverage SVG file
        run: |
          COVERAGE=$(go tool cover -func=coverage.out | awk '/total/ {print $3}' | sed 's/%//')
          COVERAGE=$(echo "$COVERAGE + 0.5" | bc | cut -d. -f1)
          cat <<EOF > coverage.svg
          <svg xmlns="http://www.w3.org/2000/svg" width="100" height="20" role="img" aria-label="Coverage"><title>Coverage</title><linearGradient id="s" x2="0" y2="100%"><stop offset="0" stop-color="#bbb" stop-opacity=".1"/><stop offset="1" stop-opacity=".1"/></linearGradient><clipPath id="r"><rect width="100" height="20" rx="3" fill="#fff"/></clipPath><g clip-path="url(#r)"><rect width="63" height="20" fill="#555"/><rect x="63" width="37" height="20" fill="#e05d44"/><rect width="100" height="20" fill="url(#s)"/></g><g fill="#fff" text-anchor="middle" font-family="Verdana,Geneva,DejaVu Sans,sans-serif" text-rendering="geometricPrecision" font-size="110"><text aria-hidden="true" x="325" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)" textLength="530">Coverage</text><text x="325" y="140" transform="scale(.1)" fill="#fff" textLength="530">Coverage</text><text aria-hidden="true" x="810" y="150" fill="#010101" fill-opacity=".3" transform="scale(.1)" textLength="300" lengthAdjust="spacingAndGlyphs">$COVERAGE%</text><text x="810" y="140" transform="scale(.1)" fill="#fff" textLength="300" lengthAdjust="spacingAndGlyphs">$COVERAGE%</text></g></svg>
          EOF

      - name: Commit coverage badge
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add coverage.svg
          git commit -m "Update coverage badge"
          git push

  deploy_manifest:
    needs: build
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    permissions:
      contents: write
    environment: production
    steps:
      - uses: actions/checkout@v4

      - name: Get SHA
        run: |
          echo "SHA=sha-${GITHUB_SHA::7}" >> $GITHUB_ENV

      - name: Update values yaml
        uses: mikefarah/yq@master
        with:
          cmd: |
            yq -i '.backend.backend.tag = env(SHA)' values.yaml

      - name: Commit updated values yaml 
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git diff --quiet && echo "No changes to commit" && exit 0
          git add values.yaml
          git commit -m "Update values yaml with ${SHA}"
          git push -f
